# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
/target/
*/.settings/
/.DS_Store
/.project
/.classpathgs/
/.settings/

/jeecf-module-common/target/
/jeecf-module-common/.settings/
/jeecf-module-common/.DS_Store
/jeecf-module-common/.project
/jeecf-module-common/.classpath

/jeecf-module-osgi/target/
/jeecf-module-osgi/.settings/
/jeecf-module-osgi/.DS_Store
/jeecf-module-osgi/.project
/jeecf-module-osgi/.classpath

/jeecf-module-engine-mysql/target/
/jeecf-module-engine-mysql/.settings/
/jeecf-module-engine-mysql/.DS_Store
/jeecf-module-engine-mysql/.project
/jeecf-module-engine-mysql/.classpath

/jeecf-module-gen/target/
/jeecf-module-gen/.settings/
/jeecf-module-gen/.DS_Store
/jeecf-module-gen/.project
/jeecf-module-gen/.classpath

/jeecf-module-cache/target/
/jeecf-module-cache/.settings/
/jeecf-module-cache/.DS_Store
/jeecf-module-cache/.project
/jeecf-module-cache/.classpath

.idea/
jeecf-module-common/jeecf-module-common.iml
jeecf-module-osgi/jeecf-module-osgi.iml
jeecf-parent.iml
jeecf-module-engine-mysql/jeecf-module-engine-mysql.iml
jeecf-module-gen/jeecf-module-gen.iml
jeecf-module-cache/jeecf-module-cache.iml