<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="org.jeecf.manager.module.template.dao.GenTemplateDao">

	<sql id="columnList">
		genTemplate.id AS "id",
		genTemplate.name AS "name",
		genTemplate.sys_namespace_id AS "sysNamespaceId",
		genTemplate.language AS "language",
		genTemplate.gen_field_id AS "genFieldId",
		genField.name AS "genFieldName",
		genTemplate.file_base_path AS "fileBasePath",
		genTemplate.descrition AS "descrition",
		genTemplate.remark AS "remark",
		genTemplate.create_date AS "createDate",
		genTemplate.create_by AS "createBy",
		genTemplate.update_date AS "updateDate",
		genTemplate.update_by AS
		"updateBy"
	</sql>

	<sql id="commonWhere">
		<where>
			<if test="data != null">
				<if test="data.name != null and data.name != '' ">
					And genTemplate.name = #{data.name}
				</if>
				<if test="data.sysNamespaceId != null ">
					And genTemplate.sys_namespace_id =
					#{data.sysNamespaceId}
				</if>
				<if test="data.genFieldId != null and data.genFieldId != '' ">
					And genTemplate.gen_field_id = #{data.genFieldId}
				</if>
				<if test="data.fileBasePath != null and data.fileBasePath != '' ">
					And genTemplate.file_base_path = #{data.fileBasePath}
				</if>
				<if test="data.descrition != null and data.descrition != '' ">
					And genTemplate.descrition = #{data.descrition}
				</if>
				<include refid="reginWhere" />
			</if>
			<include refid="containWhere" />
		</where>
	</sql>

	<!-- 通用范围区间查询 -->
	<sql id="reginWhere">
		<if test="data.beginCreateDate != null">
			And genTemplate.create_date &gt;= #{data.beginCreateDate}
		</if>
		<if test="data.endCreateDate != null">
			And genTemplate.create_date &lt;= #{data.endCreateDate}
		</if>
		<if test="data.beginUpdateDate != null">
			And genTemplate.update_date &gt;= #{data.beginUpdateDate}
		</if>
		<if test="data.endUpdateDate != null">
			And genTemplate.update_date &lt;= #{data.endUpdateDate}
		</if>
	</sql>

	<!-- in 和 not in的通用查询where -->
	<sql id="containWhere">
		<if test="contains != null and contains.size > 0">
			<foreach item="item" index="i" collection="contains">
				And ${item.columnName} in
				<foreach item="value" index="i"
					collection="item.columnValue" separator="," open="(" close=")">
					#{value}
				</foreach>
			</foreach>
		</if>
	</sql>

	<!-- 通用排序处理 -->
	<sql id="commonSorts">
		<if test="sorts != null and sorts.size > 0">
			ORDER BY
			<foreach collection="sorts" item="item" separator=",">
				${item.columnName} ${item.sortMode}
			</foreach>
		</if>
		<if test="sorts == null">
			ORDER BY genTemplate.update_date desc
		</if>
	</sql>

	<!-- 关联查询 -->
	<sql id="leftJoinColumn">
		left join gen_field genField on genTemplate.gen_field_id = genField.id
	</sql>



	<select id="query"
		resultType="org.jeecf.manager.module.template.model.result.GenTemplateResult">
		select
		<include refid="columnList" />
		from
		gen_template genTemplate
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
		<include refid="commonSorts" />
		<if test="page != null">
			limit ${page.startNo},${page.size}
		</if>
	</select>

	<select id="get"
		resultType="org.jeecf.manager.module.template.model.result.GenTemplateResult">
		select
		<include refid="columnList" />
		from
		gen_template genTemplate
		<include refid="leftJoinColumn" />
		where genTemplate.id = #{id}
		<if test="sysNamespaceId != null">
			AND genTemplate.sys_namespace_id = #{sysNamespaceId}
		</if>
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into gen_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="sysNamespaceId != null">
				sys_namespace_id,
			</if>
			<if test="language != null">
				language,
			</if>
			<if test="genFieldId != null">
				gen_field_id,
			</if>
			<if test="fileBasePath != null">
				file_base_path,
			</if>
			<if test="descrition != null">
				descrition,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name},
			</if>
			<if test="sysNamespaceId != null">
				#{sysNamespaceId},
			</if>
			<if test="language != null">
				#{language},
			</if>
			<if test="genFieldId != null">
				#{genFieldId},
			</if>
			<if test="fileBasePath != null">
				#{fileBasePath},
			</if>
			<if test="descrition != null">
				#{descrition},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="updateDate != null">
				#{updateDate},
			</if>
			<if test="updateBy != null">
				#{updateBy},
			</if>
		</trim>
	</insert>

	<update id="update">
		update gen_template
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="language != null">
				language = #{language},
			</if>
			<if test="genFieldId != null">
				gen_field_id = #{genFieldId},
			</if>
			<if test="genFieldId != null">
				gen_field_id = #{genFieldId},
			</if>
			<if test="fileBasePath != null">
				file_base_path = #{fileBasePath},
			</if>
			<if test="descrition != null">
				descrition = #{descrition},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy},
			</if>
		</set>
		where id = #{id}
		<if test="sysNamespaceId != null">
			AND sys_namespace_id = #{sysNamespaceId}
		</if>
	</update>


	<select id="count" resultType="int">
		select count(1) from gen_template genTemplate
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
	</select>

	<delete id="delete">
		delete from gen_template
		WHERE id = #{id}
		<if test="sysNamespaceId != null">
			AND sys_namespace_id = #{sysNamespaceId}
		</if>
	</delete>

</mapper>