<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.jeecf.manager.module.extend.dao.SysOsgiPluginDao">

	<sql id="columnList">
		sysOsgiPlugin.id AS "id",
		sysOsgiPlugin.name AS "name",
		sysOsgiPlugin.boundle_type AS "boundleType",
		sysOsgiPlugin.file_name AS
		"fileName",
		sysOsgiPlugin.sys_namespace_id AS "sysNamespaceId",
		sysOsgiPlugin.description AS "description",
		sysOsgiPlugin.del_flag AS
		"delFlag",
		sysOsgiPlugin.create_date AS "createDate",
		sysOsgiPlugin.update_date AS "updateDate"
	</sql>

	<sql id="commonWhere">
		<where>
			<if test="data != null">
				<if test="data.name != null and data.name != '' ">
					AND sysOsgiPlugin.name = #{data.name}
				</if>
				<if test="data.delFlag != null ">
					AND sysOsgiPlugin.del_flag = #{data.delFlag}
				</if>
				<if test="data.boundleType != null ">
					AND sysOsgiPlugin.boundle_type = #{data.boundleType}
				</if>
				<if test="data.sysNamespaceId != null ">
					AND sysOsgiPlugin.sys_namespace_id =
					#{data.sysNamespaceId}
				</if>
				<include refid="reginWhere" />
			</if>
			<include refid="containWhere" />
		</where>
	</sql>

	<!-- 通用范围区间查询 -->
	<sql id="reginWhere">

	</sql>

	<!-- in 和 not in的通用查询where -->
	<sql id="containWhere">
		<if test="contains != null">
			<foreach item="item" index="i" collection="contains">
				And item.columnName in
				<foreach item="value" index="i"
					collection="item.columnValue" separator="," open="(" close=")">
					#{value}
				</foreach>
			</foreach>
		</if>
	</sql>

	<!-- 通用排序处理 -->
	<sql id="commonSorts">
		<if test="sorts != null">
			ORDER BY
			<foreach collection="sorts" item="item" separator=",">
				${item.columnName} ${item.sortMode}
			</foreach>
		</if>
		<if test="sorts == null">
			ORDER BY sysOsgiPlugin.update_date desc
		</if>
	</sql>

	<!-- 关联查询 -->
	<sql id="leftJoinColumn">

	</sql>

	<select id="get"
		resultType="org.jeecf.manager.module.extend.model.result.SysOsgiPluginResult">
		select
		<include refid="columnList" />
		from sys_osgi_plugin sysOsgiPlugin
		<include refid="leftJoinColumn" />
		where sysOsgiPlugin.id = #{id}
	</select>

	<select id="query"
		resultType="org.jeecf.manager.module.extend.model.result.SysOsgiPluginResult">
		select
		<include refid="columnList" />
		from sys_osgi_plugin sysOsgiPlugin
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
		<include refid="commonSorts" />
		<if test="page != null">
			limit ${page.startNo},${page.size}
		</if>
	</select>


	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_osgi_plugin
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="sysNamespaceId != null">
				sys_namespace_id,
			</if>
			<if test="fileName != null">
				file_name,
			</if>
			<if test="boundleType != null">
				boundle_type,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name},
			</if>
			<if test="sysNamespaceId != null">
				#{sysNamespaceId},
			</if>
			<if test="fileName != null">
				#{fileName},
			</if>
			<if test="boundleType != null">
				#{boundleType},
			</if>
			<if test="description != null">
				#{description},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<if test="updateBy != null">
				#{updateBy},
			</if>
			<if test="updateDate != null">
				#{updateDate},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
		</trim>
	</insert>

	<update id="update">
		UPDATE sys_osgi_plugin
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="boundleType != null">
				boundle_type = #{boundleType},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
			<if test="remark != null">
				remark = #{remark}
			</if>
		</set>
		where id = #{id}
		<if test="sysNamespaceId != null">
			AND sys_namespace_id = #{sysNamespaceId}
		</if>
	</update>

	<delete id="delete">
		delete from sys_osgi_plugin
		<where>
			<if test="id != null and id != '' ">
				AND id = #{id}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="sysNamespaceId != null">
				AND sys_namespace_id = #{sysNamespaceId}
			</if>
		</where>
	</delete>

	<select id="count" resultType="int">
		select count(1) from sys_osgi_plugin sysOsgiPlugin
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
	</select>
	
	
	<update id="updateByName">
		UPDATE sys_osgi_plugin
		<set>
			<if test="boundleType != null">
				boundle_type = #{boundleType},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
			<if test="remark != null">
				remark = #{remark}
			</if>
		</set>
		where name = #{name}
		<if test="sysNamespaceId != null">
			AND sys_namespace_id = #{sysNamespaceId}
		</if>
	</update>

</mapper>