<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="org.jeecf.manager.module.userpower.dao.SysUserDao">

	<sql id="columnList">
		sysUser.id AS "id",
		sysUser.username AS "username",
		sysUser.password AS "password",
		sysUser.name AS "name",
		sysUser.sys_office_id AS "sysOfficeId",
		sysOffice.name AS "sysOffice.name",
		sysOffice.enname AS "sysOffice.enname",
		sysOffice.parent_id AS "sysOffice.parentId",
		
		sysUser.remark AS "remark",
		sysUser.create_date AS "createDate",
		sysUser.create_by AS "createBy",
		sysUser.update_date AS "updateDate",
		sysUser.update_by AS "updateBy"
	</sql>

	<sql id="commonWhere">
		<where>
			<if test="data != null">
				<if test="data.username != null and data.username != '' ">
					And sysUser.username = #{data.username}
				</if>
				<if test="data.password != null and data.password != '' ">
					And sysUser.password = #{data.password}
				</if>
				<if test="data.sysOfficeId != null and data.sysOfficeId != '' ">
					And sysUser.sys_office_id = #{data.sysOfficeId}
				</if>
				<if test="data.name != null and data.name != '' ">
					And sysUser.name = #{data.name}
				</if>
				<if test="data.delFlag != null  ">
					And sysUser.del_flag = #{data.delFlag}
				</if>
				<include refid="reginWhere" />
			</if>
			<include refid="containWhere" />
		</where>
	</sql>

	<!-- 通用范围区间查询 -->
	<sql id="reginWhere">
		<if test="data.beginCreateDate != null">
			And sysUser.create_date &gt;= #{data.beginCreateDate}
		</if>
		<if test="data.endCreateDate != null">
			And sysUser.create_date &lt;= #{endCreateDate}
		</if>
		<if test="data.beginUpdateDate != null">
			And sysUser.update_date &gt;= #{beginUpdateDate}
		</if>
		<if test="data.endUpdateDate != null">
			And sysUser.update_date &lt;= #{endUpdateDate}
		</if>
	</sql>

	<!-- in 和 not in的通用查询where -->
	<sql id="containWhere">
		<if test="contains != null and contains.size > 0">
			<foreach item="item" index="i" collection="contains">
				And ${item.columnName} in
				<foreach item="value" index="i"
					collection="item.columnValue" separator="," open="(" close=")">
					#{value}
				</foreach>
			</foreach>
		</if>
	</sql>

	<!-- 通用排序处理 -->
	<sql id="commonSorts">
		<if test="sorts != null and sorts.size > 0">
			ORDER BY
			<foreach collection="sorts" item="item" separator=",">
				${item.columnName} ${item.sortMode}
			</foreach>
		</if>
		<if test="sorts == null">
			ORDER BY sysUser.update_date desc
		</if>
	</sql>

	<!-- 关联查询 -->
	<sql id="leftJoinColumn">
	  Left join sys_office sysOffice on sysUser.sys_office_id = sysOffice.id
	</sql>



	<select id="query"
		resultType="org.jeecf.manager.module.userpower.model.result.SysUserResult">
		select
		<include refid="columnList" />
		from
		sys_user sysUser
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
		<include refid="commonSorts" />
		<if test="page != null">
			limit ${page.startNo},${page.size}
		</if>
	</select>

	<select id="get"
		resultType="org.jeecf.manager.module.userpower.model.result.SysUserResult">
		select
		<include refid="columnList" />
		from
		sys_user sysUser
		<include refid="leftJoinColumn" />
		where sysUser.id = #{id}
	</select>

	<insert id="insert">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="sysOfficeId != null">
				sys_office_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="username != null">
				#{username},
			</if>
			<if test="password != null">
				#{password},
			</if>
			<if test="sysOfficeId != null">
				#{sysOfficeId},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="updateDate != null">
				#{updateDate},
			</if>
			<if test="updateBy != null">
				#{updateBy},
			</if>
		</trim>
	</insert>

	<update id="update">
		update sys_user
		<set>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="sysOfficeId != null">
				sys_office_id = #{sysOfficeId},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy},
			</if>
		</set>
		where id = #{id}
	</update>


	<select id="count" resultType="int">
		select count(1) from sys_user sysUser
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
	</select>

	<delete id="delete">
		delete from sys_user
		WHERE id = #{id}
	</delete>

</mapper>