<div ng-init="sysPowerAs.init()"></div>
<ul id="top-tab" class="nav nav-tabs">
	<li class="active"><a href="#sysPowerListTab" data-toggle="tab">系统权限配置列表</a></li>
	<li shiro:hasPermission="userpower:sysPower:edit"><a
		href="#sysPowerFormTab" data-toggle="tab">系统权限配置添加</a></li>
</ul>
<br />
<div class="tab-content">
	<div class="tab-pane fade in active" id="sysPowerListTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">系统权限配置</li>
			<li class="active">列表</li>
		</ol>
		<form class="form-inline" ng-submit="searchForm()">
			<div class="form-group">
				<label>权限名称:</label> <input type="text" class="form-control"
					ng-model="request.data.name" />
			</div>
			<div class="form-group">
				<label>权限标识:</label> <input type="text" class="form-control"
					id="permission" ng-model="request.data.permission" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">提交</button>
			</div>
		</form>

		<table class="table table-striped" id="sysPowerListTreeTable">
			<thead>
				<tr>
					<th>序号</th>
					<th>权限名称</th>
					<th>权限标识</th>
					<th>标签</th>
					<th>等级</th>
					<th>排序</th>
					<th shiro:hasPermission="userpower:sysPower:edit">操作</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="sysPower in sysPowerList"
					data-tt-id="{{sysPower.id}}"
					data-tt-parent-id="{{sysPower.parentId}}"
					repeat-finish="renderFinish(this)">
					<td>{{ $index+1 }}</td>
					<td>{{ sysPower.name }}</td>
					<td>{{ sysPower.permission }}</td>
					<td>{{ sysPower.labelName }}</td>
					<td>{{ sysPower.level }}</td>
					<td>{{ sysPower.sort }}</td>
					<td shiro:hasPermission="userpower:sysPower:edit"><span><a
							href="javascript:void(0)" ng-click="addModal($index)">添加下级权限</a></span>
						<span><a href="javascript:void(0)"
							ng-click="updateModal($index)">修改</a></span> <span><a
							href="javascript:void(0)" data-content="{{ $index }}"
							class="target-click" data-confirm="data-confirm">删除</a></span></td>
				</tr>
			</tbody>
		</table>

		<!-- 模态框（Modal） -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">系统权限修改</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" ng-submit="updateForm()"
							id="updateSysPowerForm" name="updateSysPowerForm">

							<div class="form-group">
								<label class="col-sm-2 control-label">父级：</label>
								<div class="col-sm-10">
									<div class="col-sm-8" style="padding-left: 0">
										<selection data-id="updateTreeId" class="btn-group treeTable"
											data-msg="{ tableFields:[{name:'姓名',label:'name'},{name:'等级',label:'level'},{name:'排序',label:'sort'}],name:'name',value:'id',key:'parentId',ttId:'id',ttParentId:'parentId'}"
											data-ops="{url:'userpower/sysPower/getTreeData',title:'父级',width:500,height:300}">
										</selection>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">权限名称：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<input type="text" class="form-control" id="updateName"
											name="name" ng-model="updateSysPower.name"
											placeholder="请输入权限名称" required="required" />
									</div>
									<div class="col-sm-6">
										<span style="color: red"
											ng-show="updateSysPowerForm.name.$dirty &amp;&amp; updateSysPowerForm.name.$invalid">
											<span ng-show="updateSysPowerForm.name.$error.required">权限名称是必须的。</span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">权限标识：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<input type="text" class="form-control" id="updatePermission"
											name="permission" ng-model="updateSysPower.permission"
											placeholder="请输入权限标识" required="required" />
									</div>
									<div class="col-sm-6">
										<span style="color: red"
											ng-show="updateSysPowerForm.permission.$dirty &amp;&amp; updateSysPowerForm.permission.$invalid">
											<span ng-show="updateSysPowerForm.permission.$error.required">权限标识是必须的。</span>
										</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">标签：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<select class="form-control" ng-model="updateSysPower.label"
											id="updateLabel" style="height: 25px;" name="label"
											ng-options="permissionLabelEnum.code as permissionLabelEnum.name for permissionLabelEnum in permissionLabelEnums"></select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">排序：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<input type="number" class="form-control" id="updateSort"
											name="sort" ng-model="updateSysPower.sort"
											placeholder="请输入排序" required="required" />
									</div>
									<div class="col-sm-6">
										<span style="color: red"
											ng-show="updateSysPowerForm.sort.$dirty &amp;&amp; updateSysPowerForm.sort.$invalid">
											<span ng-show="updateSysPowerForm.sort.$error.required">排序是必须的。</span>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary"
							form="updateSysPowerForm">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
	<div class="tab-pane fade" id="sysPowerFormTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">系统权限配置</li>
			<li class="active">添加</li>
		</ol>
		<div class="form-model">
			<form class="form-horizontal" ng-submit="submitForm()"
				name="sysPowerForm">
				<div class="form-group">
					<label class="col-sm-2 control-label">父级：</label>
					<div class="col-sm-4">
						<div class="col-sm-8" style="padding-left: 0">
							<selection data-id="insertTreeId" class="btn-group treeTable"
								data-msg="{ tableFields:[{name:'姓名',label:'name'},{name:'等级',label:'level'},{name:'排序',label:'sort'}],name:'name',value:'id',key:'parentId',ttId:'id',ttParentId:'parentId'}"
								data-ops="{url:'userpower/sysPower/getTreeData',title:'父级',width:500,height:300}">
							</selection>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">权限名称：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="name" name="name"
								ng-model="sysPower.name" placeholder="请输入权限名称"
								required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysPowerForm.name.$dirty &amp;&amp; sysPowerForm.name.$invalid">
								<span ng-show="sysPowerForm.name.$error.required">权限名称是必须的。</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">权限标识：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="permission"
								name="permission" ng-model="sysPower.permission"
								placeholder="请输入权限标识" required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysPowerForm.permission.$dirty &amp;&amp; sysPowerForm.permission.$invalid">
								<span ng-show="sysPowerForm.permission.$error.required">权限标识是必须的。</span>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">标签：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<select class="form-control" ng-model="sysPower.label" id="label"
								ng-init="sysPower.label=1" style="height: 25px;" name="label"
								ng-options="permissionLabelEnum.code as permissionLabelEnum.name for permissionLabelEnum in permissionLabelEnums"></select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">排序：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="number" class="form-control" id="sort" name="sort"
								ng-model="sysPower.sort" placeholder="请输入排序" required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysPowerForm.sort.$dirty &amp;&amp; sysPowerForm.sort.$invalid">
								<span ng-show="sysPowerForm.sort.$error.required">排序是必须的。</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>