<div ng-init="sysDbsourceAs.init()"></div>
<ul id="top-tab" class="nav nav-tabs">
	<li class="active"><a href="#sysDbsourceListTab" data-toggle="tab">系统数据源配置列表</a></li>
	<li shiro:hasPermission="config:sysDbsource:edit"><a
		href="#sysDbsourceFormTab" data-toggle="tab">系统数据源配置添加</a></li>
</ul>
<br />
<div class="tab-content">
	<div class="tab-pane fade in active" id="sysDbsourceListTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">系统数据源配置</li>
			<li class="active">列表</li>
		</ol>
		<form class="form-inline" ng-submit="searchForm()">
			<div class="form-group">
				<label>关键字:</label> <input type="text" class="form-control"
					ng-model="request.data.keyName" />
			</div>&nbsp;
			<div class="form-group">
				<label>状态:</label> <select class="form-control"
					ng-model="request.data.delFlag" style="height: 35px;"
					ng-options="delFlag.value as delFlag.name for delFlag in delFlags"></select>
			</div>&nbsp;
			<div class="form-group">
				<button type="submit" class="btn btn-default">提交</button>
			</div>&nbsp;当前所用数据源为:&nbsp;<span style="color: red"
				th:text="${#dbsources.getName()}"></span>
		</form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>序号</th>
					<th>关键字</th>
					<th width="30%">连接串</th>
					<th>可用性</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="sysDbsource in sysDbsourceList">
					<td>{{ $index+1 }}</td>
					<td>{{ sysDbsource.keyName }}</td>
					<td>{{ sysDbsource.url }}</td>
					<td>{{ sysDbsource.usableName }}</td>
					<td>{{ sysDbsource.updateDate | date:'yyyy-MM-dd hh:mm:ss' }}</td>
					<td><span shiro:hasPermission="config:sysDbsource:edit"><a
							href="javascript:void(0)" ng-click="updateModal($index)">修改</a></span> <span
						shiro:hasPermission="config:sysDbsource:edit"><a
							href="javascript:void(0)" ng-click="actionForm($index)">{{
								delFlag.action }}</a></span> <span><a href="javascript:void(0)"
							ng-click="effectForm($index)">生效</a></span></td>
				</tr>
			</tbody>
		</table>
		<page-pagination page-id="pageId" page-size="pageSize"
			page-count="pageCount" page-list="pageList"
			search-form="searchForm(message)" page-record="pageRecord"
			page-url-template="urlTemplate"></page-pagination>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">系统数据源修改</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" ng-submit="updateForm()"
							id="updateSysDbsourceForm" name="updateSysDbsourceForm">
							<div class="form-group">
								<label class="col-sm-2 control-label">关键字：</label>
								<div class="col-sm-8">
									<div class="col-sm-8" style="padding-left: 0">
										<input type="text" class="form-control" id="updateKeyName"
											name="keyName" ng-model="updateSysDbsource.keyName"
											placeholder="请输入关键字" required="required" />
									</div>
									<div class="col-sm-8">
										<span style="color: red"
											ng-show="updateSysDbsourceForm.keyName.$dirty &amp;&amp; updateSysDbsourceForm.keyName.$invalid">
											<span ng-show="updateSysDbsourceForm.keyName.$error.required">关键字是必须的。</span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">连接串：</label>
								<div class="col-sm-8">
									<div class="col-sm-8" style="padding-left: 0">
										<input type="text" class="form-control" id="updateUrl"
											name="url" ng-model="updateSysDbsource.url"
											placeholder="请输入连接串" required="required" />
									</div>
									<div class="col-sm-8">
										<span style="color: red"
											ng-show="updateSysDbsourceForm.url.$dirty &amp;&amp; updateSysDbsourceForm.url.$invalid">
											<span ng-show="updateSysDbsourceForm.url.$error.required">连接串是必须的。</span>
										</span>
									</div>
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label">权限：</label>
								<div class="col-sm-8">
									<div class="col-sm-8" style="padding-left: 0">
										<input type="text" class="form-control" id="updatePermission"
											name="permission" ng-model="updateSysDbsource.permission"
											placeholder="请输入权限" required="required" />
									</div>
									<div class="col-sm-8">
										<span style="color: red"
											ng-show="updateSysDbsourceForm.permission.$dirty &amp;&amp; updateSysDbsourceForm.permission.$invalid">
											<span
											ng-show="updateSysDbsourceForm.permission.$error.required">权限是必须的。</span>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary"
							form="updateSysDbsourceForm">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
	<div class="tab-pane fade" id="sysDbsourceFormTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">系统数据源配置</li>
			<li class="active">添加</li>
		</ol>
		<div class="form-model">
			<form class="form-horizontal" ng-submit="submitForm()"
				name="sysDbsourceForm">
				<div class="form-group">
					<label class="col-sm-2 control-label">关键字：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="keyName"
								name="keyName" ng-model="sysDbsource.keyName"
								placeholder="请输入关键字" required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysDbsourceForm.keyName.$dirty &amp;&amp; sysDbsourceForm.keyName.$invalid">
								<span ng-show="sysDbsourceForm.keyName.$error.required">关键字是必须的。</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">连接串：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="url" name="url"
								ng-model="sysDbsource.url" placeholder="请输入连接串"
								required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysDbsourceForm.url.$dirty &amp;&amp; sysDbsourceForm.url.$invalid">
								<span ng-show="sysDbsourceForm.url.$error.required">连接串是必须的。</span>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">用户名：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="userName"
								name="userName" ng-model="sysDbsource.userName"
								placeholder="请输入用户名" required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysDbsourceForm.userName.$dirty &amp;&amp; sysDbsourceForm.userName.$invalid">
								<span ng-show="sysDbsourceForm.userName.$error.required">用户名是必须的。</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">密码：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="password" class="form-control" id="password"
								name="password" ng-model="sysDbsource.password"
								placeholder="请输入密码" required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysDbsourceForm.password.$dirty &amp;&amp; sysDbsourceForm.password.$invalid">
								<span ng-show="sysDbsourceForm.password.$error.required">密码是必须的。</span>
							</span>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">权限：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="permission"
								name="permission" ng-model="sysDbsource.permission"
								placeholder="请输入权限" required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysDbsourceForm.permission.$dirty &amp;&amp; sysDbsourceForm.permission.$invalid">
								<span ng-show="sysDbsourceForm.permission.$error.required">权限是必须的。</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>