<div ng-init="sysMenuAs.init()"></div>
<ul id="top-tab" class="nav nav-tabs">
	<li class="active"><a href="#sysMenuListTab" data-toggle="tab">菜单配置列表</a></li>
	<li shiro:hasPermission="config:sysMenu:edit"><a href="#sysMenuFormTab" data-toggle="tab">菜单配置添加</a></li>
</ul>
<br />
<div class="tab-content" id="tab-body">
	<div class="tab-pane fade in active" id="sysMenuListTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">菜单配置</li>
			<li class="active">列表</li>
		</ol>
		<form class="form-inline" ng-submit="searchForm()">
			<div class="form-group">
				<label>菜单名:</label> <input type="text" class="form-control"
					 ng-model="request.data.name" placeholder="请输入菜单名" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">提交</button>
			</div>
		</form>
		<table class="table table-striped" id="sysMenuListTreeTable">
			<thead>
				<tr>
					<th>序号</th>
					<th>菜单名</th>
					<th>标签</th>
					<th>菜单等级</th>
					<th>图标</th>
					<th>路由</th>
					<th>权限</th>
					<th>排序</th>
					<th>更新时间</th>
					<th shiro:hasPermission="config:sysMenu:edit">操作</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="sysMenu in sysMenuList" data-tt-id="{{sysMenu.id}}"
					data-tt-parent-id="{{sysMenu.parentId}}"
					repeat-finish="renderFinish(this)">
					<td>{{ $index+1 }}</td>
					<td>{{ sysMenu.name }}</td>
					<td>{{ sysMenu.label }}</td>
					<td>{{ sysMenu.level }}</td>
					<td>{{ sysMenu.isIcon == 0 ? '隐藏':'显示' }}</td>
					<td>{{ sysMenu.route }}</td>
					<td>{{ sysMenu.permission }}</td>
					<td>{{ sysMenu.sort }}</td>
					<td>{{ sysMenu.updateDate | date:'yyyy-MM-dd hh:mm:ss'}}</td>
					<td shiro:hasPermission="config:sysMenu:edit">
					  <span><a href="javascript:void(0)" ng-click="addModal($index)">添加下级菜单</a></span> 
					  <span><a href="javascript:void(0)" ng-click="updateModal($index)">修改</a></span> 
					  <span><a href="javascript:void(0)" data-content="{{ $index }}" class="target-click" data-confirm="data-confirm">删除</a></span>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- 模态框（Modal） -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">菜单修改</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="updateSysMenuForm"
							name="updateSysMenuForm" ng-submit="updateForm()">
							<div class="form-group">
								<label class="col-sm-2 control-label">上级菜单</label>
								<div class="col-sm-6">
									<selection data-id="updateTreeId" class="btn-group treeTable"
										data-msg="{ tableFields:[{name:'姓名',label:'name'},{name:'标签',label:'label'}],name:'name',value:'id,moduleLabel',key:'parentId,moduleLabel',ttId:'id',ttParentId:'parentId'}"
										data-ops="{url:'config/sysMenu/getTreeData',title:'上级菜单',width:500,height:300}"
										watch-change="updateModuleLabelChange"
										ng-model="updateSysMenu.moduleLabel"></selection>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">菜单名</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding: 0">
										<input type="text" class="form-control" id="updateName"
											ng-model="updateSysMenu.name" placeholder="请输入菜单名" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">标签</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding: 0">
										<input type="text" class="form-control" id="updateLabel"
											ng-model="updateSysMenu.label" placeholder="请输入标签"
											watch-change="updateLabelChange" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">图标</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding: 0">
										<select class="form-control" ng-model="updateSysMenu.isIcon"
											ng-options="obj.value as obj.name for obj in [{value:0,name:'隐藏'},{value:1,name:'显示'}]"></select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">路由</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding: 0">
										<select class="form-control" ng-model="updateSysMenu.route"
											ng-options="obj.value as obj.name for obj in [{value:0,name:'否'},{value:1,name:'是'}]">
											<option value="0">否</option>
											<option value="1">是</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">权限</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding: 0">
										<input type="text" class="form-control" readonly="readonly"
											ng-model="updateSysMenu.permission" placeholder="权限标识" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">排序</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding: 0">
										<input type="number" class="form-control" id="updateSort"
											name="sort" ng-model="updateSysMenu.sort" placeholder="请输入排序"
											required="required" />
									</div>
									<div class="col-sm-6">
										<span style="color: red"
											ng-show="updateSysMenuForm.sort.$dirty &amp;&amp; updateSysMenuForm.sort.$invalid">
											<span ng-show="updateSysMenuForm.sort.$error.required">排序是必须的。</span>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary"
							form="updateSysMenuForm">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
	<div class="tab-pane fade" id="sysMenuFormTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">菜单配置</li>
			<li class="active">添加</li>
		</ol>
		<div class="form-model">
			<form class="form-horizontal" ng-submit="submitForm()"
				name="sysMenuForm">
				<div class="form-group">
					<label class="col-sm-2 control-label">上级菜单</label>
					<div class="col-sm-3">

						<selection data-id="insertTreeId" class="btn-group treeTable"
							data-msg="{ tableFields:[{name:'名称',label:'name'},{name:'标签',label:'label'}],name:'name',value:'id,moduleLabel',key:'parentId,moduleLabel',ttId:'id',ttParentId:'parentId'}"
							data-ops="{url:'config/sysMenu/getTreeData',title:'上级菜单',width:500,height:300}"
							watch-change="insertModuleLabelChange"
							ng-model="sysMenu.moduleLabel"></selection>

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">菜单名</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="name"
							ng-model="sysMenu.name" placeholder="请输入菜单名" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">标签</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="label"
							ng-model="sysMenu.label" placeholder="请输入标签"
							watch-change="insertLabelChange" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">图标</label>
					<div class="col-sm-3">
						<select class="form-control" ng-model="sysMenu.isIcon"
							ng-options="obj.value as obj.name for obj in [{value:0,name:'隐藏'},{value:1,name:'显示'}]"></select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">路由</label>
					<div class="col-sm-3">
						<select class="form-control" ng-model="sysMenu.route">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">权限</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" readonly="readonly"
							ng-model="sysMenu.permission" placeholder="权限标识" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">排序</label>
					<div class="col-sm-3">
						<input type="number" class="form-control" id="sort" name="sort"
							ng-model="sysMenu.sort" placeholder="请输入排序" required="required" />
					</div>
					<div class="col-sm-6">
						<span style="color: red"
							ng-show="sysMenuForm.sort.$dirty &amp;&amp; sysMenuForm.sort.$invalid">
							<span ng-show="sysMenuForm.sort.$error.required">排序是必须的。</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>