<div ng-init="genFieldAs.init()"></div>
<ul id="top-tab" class="nav nav-tabs">
	<li class="active"><a href="#genFieldListTab" data-toggle="tab">模版参数配置列表</a></li>
	<li shiro:hasPermission="template:genField:edit"><a
		href="#genFieldFormTab" data-toggle="tab">模版参数配置添加</a></li>
</ul>
<br />
<div class="tab-content">
	<div class="tab-pane fade in active" id="genFieldListTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">模版参数配置</li>
			<li class="active">列表</li>
		</ol>
		<form class="form-inline" ng-submit="searchForm()">
			<div class="form-group">
				<label>名称:</label> <input type="text" class="form-control"
					id="searchName" ng-model="request.data.name" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">提交</button>
			</div>
		</form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>序号</th>
					<th>名称</th>
					<th>描述</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="genField in genFieldList">
					<td>{{ $index+1 }}</td>
					<td>{{ genField.name }}</td>
					<td>{{ genField.description }}</td>
					<td>{{ genField.updateDate | date:'yyyy-MM-dd hh:mm:ss' }}</td>
					<td><span shiro:hasPermission="template:genField:edit"><a
							href="javascript:void(0)" ng-click="updateModal($index)">修改</a></span> <span
						shiro:hasPermission="template:genField:edit"><a
							href="javascript:void(0)" data-content="{{ $index }}" class="target-click" data-confirm="data-confirm">删除</a></span> <span><a
							href="javascript:void(0)" ng-click="detailModal($index)">详情</a></span></td>
				</tr>
			</tbody>
		</table>
		<page-pagination page-id="pageId" page-size="pageSize"
			page-count="pageCount" page-list="pageList"
			search-form="searchForm(message)" page-record="pageRecord"
			page-url-template="urlTemplate"></page-pagination>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">模版参数修改</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" ng-submit="updateForm()"
							id="updateGenFieldForm" name="updateGenFieldForm">
							<div class="form-group">
								<label class="col-sm-2 control-label">名称：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<input type="text" class="form-control" id="updateName"
											name="name" ng-model="updateGenField.name"
											placeholder="请输入名称" required="required" />
									</div>
									<div class="col-sm-6">
										<span style="color: red"
											ng-show="updateGenFieldForm.name.$dirty &amp;&amp; updateGenFieldForm.name.$invalid">
											<span ng-show="updateGenFieldForm.name.$error.required">名称是必须的。</span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">描述：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<input type="text" class="form-control" id="updateDescription"
											name="description" ng-model="updateGenField.description"
											placeholder="请输入描述" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<table
									class="table table-striped table-bordered table-condensed"
									style="width: 90%; margin-left: 40px;">
									<thead>
										<tr>
											<th style="width: 30%">英文名称</th>
											<th style="width: 25%">默认值</th>
											<th style="width: 10%">非空</th>
											<th style="width: 25%">描述</th>
											<th style="width: 10%">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="genFieldColumn in updateGenField.genFieldColumn">
											<td><input style="width: 100%"
												ng-model="genFieldColumn.name" /></td>
										    <td><input style="width: 100%"
												ng-model="genFieldColumn.defaultValue" /></td>
											<td><input type="checkbox" style="width: 100%"
												ng-model="genFieldColumn.isNull" ng-true-value="1"
												ng-false-value="0" /></td>
											<td><input style="width: 100%"
												ng-model="genFieldColumn.descrition" /></td>
											<td ng-if="$index == 0"><span
												class="glyphicon glyphicon-plus" aria-hidden="true"
												ng-click="updateAddGenFieldColumn()"></span></td>
											<td ng-if="$index != 0"><span
												class="glyphicon glyphicon-minus" aria-hidden="true"
												ng-click="updateDeleteGenFieldColumn($index)"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary"
							form="updateGenFieldForm">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>

		<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">详情</h4>
					</div>
					<div class="modal-body">
							<div class="form-group">
								<div class="col-sm-10" style="padding-left:0">
									<div class="col-sm-8" style="margin-left: 40px; padding-left:0">
										<span><label>名称：</label>{{ detailField.name }}</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10" style="padding-left:0">
									<div class="col-sm-8" style="margin-left: 40px; padding-left:0">
										<span><label>描述：</label>{{ detailField.descrition }}</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<table
									class="table table-striped table-bordered table-condensed"
									style="width: 80%; margin-left: 40px;">
									<thead>
										<tr>
											<th style="width: 30%">英文名称</th>
											<th style="width: 30%">默认值</th>
											<th style="width: 15%">非空</th>
											<th style="width: 25%">描述</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="genFieldColumn in detailField.genFieldColumn">
											<td>{{ genFieldColumn.name }}</td>
											<td>{{ genFieldColumn.defaultValue }}</td>
											<td>{{ genFieldColumn.isNullName }}</td>
											<td>{{ genFieldColumn.descrition }}</td>
										</tr>
									</tbody>
								</table>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
	<div class="tab-pane fade" id="genFieldFormTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">模版参数配置</li>
			<li class="active">添加</li>
		</ol>
		<div class="form-model">
			<form class="form-horizontal" ng-submit="submitForm()"
				name="genFieldForm">
				<div class="form-group">
					<label class="col-sm-1 control-label">名称：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="name" name="name"
								ng-model="genField.name" placeholder="请输入名称" required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="genFieldForm.name.$dirty &amp;&amp; genFieldForm.name.$invalid">
								<span ng-show="genFieldForm.name.$error.required">名称是必须的。</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">描述：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="description"
								name="description" ng-model="genField.description"
								placeholder="请输入描述" />
						</div>
					</div>
				</div>
				<div class="form-group">

					<table class="table table-striped table-bordered table-condensed"
						style="width: 70%; margin-left: 40px;">
						<thead>
							<tr>
								<th style="width: 30%">英文名称</th>
								<th style="width: 20%">默认值</th>
								<th style="width: 10%">非空</th>
								<th style="width: 30%">描述</th>
								<th style="width: 10%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="genFieldColumn in genField.genFieldColumn">
								<td><input style="width: 100%"
									ng-model="genFieldColumn.name" /></td>
								<td><input style="width: 100%"
									ng-model="genFieldColumn.defaultValue" /></td>
								<td><input type="checkbox" style="width: 100%"
									ng-model="genFieldColumn.isNull" ng-true-value="1"
									ng-false-value="0" /></td>
								<td><input style="width: 100%"
									ng-model="genFieldColumn.descrition" /></td>
								<td ng-if="$index == 0"><span
									class="glyphicon glyphicon-plus" aria-hidden="true"
									ng-click="addGenFieldColumn()"></span></td>
								<td ng-if="$index != 0"><span
									class="glyphicon glyphicon-minus" aria-hidden="true"
									ng-click="deleteGenFieldColumn($index)"></span></td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<button type="submit" class="btn btn-default">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>