<div ng-init="genTemplateAs.init()"></div>
<ul id="top-tab" class="nav nav-tabs">
	<li class="active"><a href="#genTemplateListTab" data-toggle="tab">模版配置列表</a></li>
	<li shiro:hasPermission="template:genTemplate:edit"><a
		href="#genTemplateFormTab" data-toggle="tab">模版配置添加</a></li>
</ul>
<br />
<div class="tab-content">
	<div class="tab-pane fade in active" id="genTemplateListTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">模版配置</li>
			<li class="active">列表</li>
		</ol>
		<form class="form-inline" ng-submit="searchForm()">
			<div class="form-group">
				<label>名称:</label> <input type="text" class="form-control"
					id="searchName" ng-model="request.data.name" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">提交</button>
			</div>
		</form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>序号</th>
					<th>名称</th>
					<th>语言</th>
					<th>模版参数</th>
					<th>描述</th>
					<th>创建人</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="genTemplate in genTemplateList ">
					<td>{{ $index+1 }}</td>
					<td>{{ genTemplate.name }}</td>
					<td>{{ genTemplate.languageName}}</td>
					<td>{{ genTemplate.genFieldName}}</td>
					<td>{{ genTemplate.description }}</td>
					<td>{{ genTemplate.createByName }}</td>
					<td>{{ genTemplate.updateDate | date:'yyyy-MM-dd hh:mm:ss' }}</td>
					<td><span shiro:hasPermission="template:genTemplate:edit"><a
							href="javascript:void(0)" ng-click="updateModal($index)">修改</a></span> <span
						shiro:hasPermission="template:genTemplate:edit"><a
							href="javascript:void(0)" data-content="{{ $index }}"
							class="target-click" data-confirm="data-confirm">删除</a></span> <span
						shiro:hasPermission="template:genTemplate:edit"><a
							href="javascript:void(0)" ng-click="updateFileModal($index)">文件更换</a></span>
						<span><a href="javascript:void(0)"
							ng-click="genModal($index)">代码生成</a></span> <span><a
							href="javascript:void(0)" ng-click="downloadModal($index)">模版下载</a></span>
						<span><a href="javascript:void(0)" ng-click="wikiModal($index)">wiki</a></span>
					</td>
				</tr>
			</tbody>
		</table>
		<page-pagination page-id="pageId" page-size="pageSize"
			page-count="pageCount" page-list="pageList"
			search-form="searchForm(message)" page-record="pageRecord"
			page-url-template="urlTemplate"></page-pagination>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">模版配置修改</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" ng-submit="updateForm()"
							id="updateGenTemplateForm" name="updateGenTemplateForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<input type="text" class="form-control" id="updateName"
											name="name" ng-model="updateGenTemplate.name"
											placeholder="请输入名称" required="required" />
									</div>
									<div class="col-sm-6">
										<span style="color: red"
											ng-show="updateGenTemplateForm.name.$dirty &amp;&amp; updateGenTemplateForm.name.$invalid">
											<span ng-show="updateGenTemplateForm.name.$error.required">名称是必须的。</span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">语言：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<select class="form-control"
											ng-model="updateGenTemplate.language" id="updateLanguage"
											name="language"
											ng-options="obj.code as obj.name for obj in languageEnums"></select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">模版参数：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<!-- 										<input type="number" class="form-control" id="updateGenFieldId" name="genFieldId"
											ng-model="updateGenTemplate.genFieldId"  placeholder="请输入关联gen_field"  required="required"  /> -->
										<select class="form-control"
											ng-model="updateGenTemplate.genFieldId" id="updateGenFieldId"
											name="genFieldId"
											ng-options="obj.value as obj.name for obj in fields"
											required="required"></select>
									</div>
									<div class="col-sm-6">
										<span style="color: red"
											ng-show="updateGenTemplateForm.genFieldId.$dirty &amp;&amp; updateGenTemplateForm.genFieldId.$invalid">
											<span
											ng-show="updateGenTemplateForm.genFieldId.$error.required">关联gen_field是必须的。</span>
										</span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">wiki地址后缀：</label>
								<div class="col-sm-8">
									<div class="col-sm-10" style="padding-left: 0">
										<input type="text" class="form-control" id="updateWikiUri"
											name="wikiUri" ng-model="updateGenTemplate.wikiUri"
											placeholder="请输入wiki地址后缀" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">描述：</label>
								<div class="col-sm-8">
									<div class="col-sm-10" style="padding-left: 0">
										<input type="text" class="form-control" id="updateDescription"
											name="description" ng-model="updateGenTemplate.description"
											placeholder="请输入描述" />
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary"
							form="updateGenTemplateForm">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>

		<!-- 模态框（Modal） -->
		<div class="modal fade" id="updateFileModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">模版文件上传</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" ng-submit="updateConfirmForm()"
							id="updateTemplateConfirmForm" name="updateTemplateConfirmForm">
							<input id="updateFile" type="file" style="display: none" />
							<div class="input-append">
								<input id="updateFileCover" class="input-large" type="text"
									style="height: 30px;" readonly="readonly" step="margin:0"
									file-model="myFile" /> <a class="btn btn-info"
									onclick="$('input[id=updateFile]').click();"
									style="margin: 0; border: 0; border-radius: 0; height: 30px; float: left">文件上传</a>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary"
							form="updateTemplateConfirmForm">确认</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>

		<!-- 模态框（Modal） -->
		<div class="modal fade" id="genModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">模版参数添加</h4>
					</div>
					<form class="form-horizontal" ng-submit="createGenForm()"
						name="createGenFo">
						<div class="modal-body">

							<label class="col-sm-2 control-label" style="font-size: 16px;">业务表：</label>
							<div class="col-sm-6" style="padding-left: 0">
								<div class="col-sm-8" style="padding-left: 0">
									<select class="form-control"
										ng-model="createGenTemplate.tableName" id="tableName"
										style="height: 25px;" name="tableName"
										ng-options="table.name as table.name for table in tableList"></select>
								</div>
							</div>
							<br /> <br />
							<table class="table table-striped table-bordered table-condensed"
								style="width: 90%; margin-left: 40px;">
								<thead>
									<tr>
										<th style="width: 25%">名称</th>
										<th style="width: 25%">值</th>
										<th style="width: 10%">非空</th>
										<th style="width: 40%">描述</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="params in createGenTemplate.params">
										<td>{{ params.name }}</td>
										<td ng-if="params.isNull == 0"><input style="width: 100%"
											ng-model="params.value" /></td>
										<td ng-if="params.isNull == 1"><input style="width: 100%"
											ng-model="params.value" name="params.value"
											required="required" /></td>
										<td>{{ params.isNullName }}</td>
										<td>{{ params.descrition }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">提交更改</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>

	</div>
	<div class="tab-pane fade" id="genTemplateFormTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">模版配置</li>
			<li class="active">添加</li>
		</ol>
		<div class="form-model">
			<form class="form-horizontal" ng-submit="submitForm()"
				name="genTemplateForm">
				<div class="form-group">
					<label class="col-sm-2 control-label">名称：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="name" name="name"
								ng-model="genTemplate.name" placeholder="请输入名称"
								required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="genTemplateForm.name.$dirty &amp;&amp; genTemplateForm.name.$invalid">
								<span ng-show="genTemplateForm.name.$error.required">名称是必须的。</span>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">语言：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<select class="form-control" ng-model="genTemplate.language"
								id="language" name="language"
								ng-options="obj.code as obj.name for obj in languageEnums"></select> 
			
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">模版参数：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<select class="form-control" ng-model="genTemplate.genFieldId"
								id="genFieldId" name="genFieldId"
								ng-options="obj.value as obj.name for obj in fields"></select>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">wiki地址后缀：</label>
					<div class="col-sm-4">
						<div class="col-sm-10" style="padding-left: 0">
							<input type="text" class="form-control" id="wikiUri"
								name="wikiUri" ng-model="genTemplate.wikiUri"
								placeholder="请输入wiki地址后缀" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">描述：</label>
					<div class="col-sm-4">
						<div class="col-sm-10" style="padding-left: 0">
							<input type="text" class="form-control" id="description"
								name="description" ng-model="genTemplate.description"
								placeholder="请输入描述" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">提交</button>
					</div>
				</div>
			</form>

			<!-- 模态框（Modal） -->
			<div class="modal fade" id="addFileModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title">模版文件上传</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" ng-submit="addConfirmForm()"
								id="addTemplateConfirmForm" name="addTemplateConfirmForm">
								<input id="addFile" type="file" style="display: none" />
								<div class="input-append">
									<input id="addFileCover" class="input-large" type="text"
										style="height: 30px;" readonly="readonly" step="margin:0"
										file-model="addFileCover" /> <a class="btn btn-info"
										onclick="$('input[id=addFile]').click();"
										style="margin: 0; border: 0; border-radius: 0; height: 30px; float: left">文件上传</a>
								</div>

							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary"
								form="addTemplateConfirmForm">确认</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('input[id=addFile]').change(function() {
		$('#addFileCover').val($(this).val());
	});
	$('input[id=updateFile]').change(function() {
		$('#updateFileCover').val($(this).val());
	});
</script>