<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecf.manager.engine.dao.BusinessTableDao">

	<sql id="columnList">
		<foreach collection="columnList" index="index" item="item"
			separator=",">
			${name}.${item.columnName} as #{item.name}
		</foreach>
	</sql>

	<sql id="commonWhere">
		<if test="whereEntitys != null and whereEntitys.size > 0 ">
			<where>
				<foreach collection="whereEntitys" item="item">
					${item.connector} ${item.column} ${item.express} #{item.value}
				</foreach>
			</where>
		</if>
	</sql>

	<!-- 通用排序处理 -->
	<sql id="commonSorts">
		<if test="orderByEntitys != null">
			ORDER BY
			<foreach collection="orderByEntitys" item="item"
				separator=",">
				${item.columnName} ${item.sortMode}
			</foreach>
		</if>
	</sql>

	<select id="query" resultType="java.util.HashMap">
		select
	    <include refid="columnList" />
		from ${tableName} ${name}
		<include refid="commonWhere" />
		<include refid="commonSorts" />
		<if test="limitEntity != null">
			limit ${limitEntity.startNo},${limitEntity.size}
		</if>
	</select>


</mapper>