<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecf.manager.engine.dao.BusinessTableDao">

	<sql id="columnList">
		<foreach collection="selectTableColumns" index="index"
			item="item" separator=",">
			${name}.${item.columnName} as #{item.name}
		</foreach>
	</sql>

	<sql id="commonWhere">
		<if test="whereEntitys != null and whereEntitys.size > 0 ">
			<where>
				<foreach collection="whereEntitys" item="item">
					${item.connector}
					${name}.${item.column} ${item.express} #{item.value}
				</foreach>
			</where>
		</if>
	</sql>

	<!-- 通用排序处理 -->
	<sql id="commonSorts">
		<if test="orderByEntitys != null">
			ORDER BY
			<foreach collection="orderByEntitys" item="item"
				separator=",">
				${name}.${item.columnName} ${item.sortMode}
			</foreach>
		</if>
	</sql>

	<select id="query" resultType="java.util.HashMap">
		select
		<include refid="columnList" />
		from ${tableName} ${name}
		<include refid="commonWhere" />
		<include refid="commonSorts" />
		<if test="limitEntity != null">
			limit ${limitEntity.startNo},${limitEntity.size}
		</if>
	</select>

	<insert id="insert">
		insert into ${tableName} ${name}
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<foreach collection="insertTableColumns" index="index"
				item="item" separator=",">
				${name}.${item.columnName}
			</foreach>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<foreach collection="insertTableColumns" index="index"
				item="item" separator=",">
				#{item.name}
			</foreach>
		</trim>
	</insert>

	<update id="update">
		update ${tableName} ${name}
		<set>
			<foreach collection="updateTableColumns" index="index"
				item="item" separator=",">
				${name}.${item.columnName} = #{item.name}
			</foreach>
		</set>
		where id = #{id}
	</update>
	
	<update id="create">
		create table ${tableName} (
		<foreach collection="createTableColumns" index="index"
			item="item" separator=",">
			<if test="item.primaryKey != null ">
				${item.columnName} ${item.type} ${item.nullModel} COMMENT #{item.comment} ${item.primaryKey}
			</if>
			<if test="item.primaryKey == null ">
				${item.columnName} ${item.type} ${item.nullModel} DEFAULT ${item.defaultValue} COMMENT #{item.comment} 
			</if>
		</foreach>
		) comment=#{comment}
	</update>
	
	<update id="addIndex">
		ALTER TABLE `${tableName}` 
		<foreach collection="indexTableColumns" index="index" item="item" separator=",">
		  ADD ${item.type} `${item.name}` USING ${item.way} (`${item.columnName}`) COMMENT #{item.comment} 
		</foreach>
	</update>

	<update id="drop">
		DROP table ${tableName}
	</update>

</mapper>