<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="org.jeecf.manager.module.config.dao.SysDbsourceDao">

	<sql id="columnList">
		sysDbsource.id AS "id",
		sysDbsource.key_name AS "keyName",
		sysDbsource.url AS "url",
		sysDbsource.user_name AS "userName",
		sysDbsource.password AS "password",
		sysDbsource.remark AS "remark",
		sysDbsource.create_date AS "createDate",
		sysDbsource.create_by AS "createBy",
		sysDbsource.usable AS "usable",
		sysDbsource.permission AS "permission",
		sysDbsource.update_date AS "updateDate",
		sysDbsource.update_by AS "updateBy"
	</sql>

	<sql id="commonWhere">
		<where>
			<if test="data != null">
				<if test="data.keyName != null and data.keyName != '' ">
					And sysDbsource.key_name = #{data.keyName}
				</if>
				<if test="data.url != null and data.url != '' ">
					And sysDbsource.url = #{data.url}
				</if>
				<if test="data.permission != null and data.permission != '' ">
					And sysDbsource.permission = #{data.permission}
				</if>
				<if test="data.userName != null and data.userName != '' ">
					And sysDbsource.user_name = #{data.userName}
				</if>
				<if test="data.password != null and data.password != '' ">
					And sysDbsource.password = #{data.password}
				</if>
				<include refid="reginWhere" />
			</if>
			<include refid="containWhere" />
		</where>
	</sql>

	<!-- 通用范围区间查询 -->
	<sql id="reginWhere">
		<if test="data.beginCreateDate != null">
			And sysDbsource.create_date &gt;= #{data.beginCreateDate}
		</if>
		<if test="data.endCreateDate != null">
			And sysDbsource.create_date &lt;= #{data.endCreateDate}
		</if>
		<if test="data.beginUpdateDate != null">
			And sysDbsource.update_date &gt;= #{data.beginUpdateDate}
		</if>
		<if test="data.endUpdateDate != null">
			And sysDbsource.update_date &lt;= #{data.endUpdateDate}
		</if>
	</sql>

	<!-- in 和 not in的通用查询where -->
	<sql id="containWhere">
		<if test="contains != null and contains.size > 0">
			<foreach item="item" index="i" collection="contains">
				And ${item.columnName} in
				<foreach item="value" index="i"
					collection="item.columnValue" separator="," open="(" close=")">
					#{value}
				</foreach>
			</foreach>
		</if>
	</sql>

	<!-- 通用排序处理 -->
	<sql id="commonSorts">
		<if test="sorts != null and sorts.size > 0">
			ORDER BY
			<foreach collection="sorts" item="item" separator=",">
				${item.columnName} ${item.sortMode}
			</foreach>
		</if>
		<if test="sorts == null">
			ORDER BY sysDbsource.update_date desc
		</if>
	</sql>

	<!-- 关联查询 -->
	<sql id="leftJoinColumn">
	</sql>



	<select id="query"
		resultType="org.jeecf.manager.module.config.model.result.SysDbsourceResult">
		select
		<include refid="columnList" />
		from
		sys_dbsource sysDbsource
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
		<include refid="commonSorts" />
		<if test="page != null">
			limit ${page.startNo},${page.size}
		</if>
	</select>

	<select id="get"
		resultType="org.jeecf.manager.module.config.model.result.SysDbsourceResult">
		select
		<include refid="columnList" />
		from
		sys_dbsource sysDbsource
		<include refid="leftJoinColumn" />
		where sysDbsource.id = #{id}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into sys_dbsource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="keyName != null ">
				key_name,
			</if>
			<if test="url != null ">
				url,
			</if>
			<if test="userName != null ">
				user_name,
			</if>
			<if test="password != null ">
				password,
			</if>
			<if test="permission != null ">
				permission,
			</if>
			<if test="usable != null ">
				usable,
			</if>
			<if test="remark != null ">
				remark,
			</if>
			<if test="createDate != null ">
				create_date,
			</if>
			<if test="createBy != null ">
				create_by,
			</if>
			<if test="updateDate != null ">
				update_date,
			</if>
			<if test="updateBy != null ">
				update_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="keyName != null ">
				#{keyName},
			</if>
			<if test="url != null ">
				#{url},
			</if>
			<if test="userName != null ">
				#{userName},
			</if>
			<if test="password != null ">
				#{password},
			</if>
			<if test="permission != null ">
				#{permission},
			</if>
			<if test="usable != null ">
				#{usable},
			</if>
			<if test="remark != null ">
				#{remark},
			</if>
			<if test="createDate != null ">
				#{createDate},
			</if>
			<if test="createBy != null ">
				#{createBy},
			</if>
			<if test="updateDate != null ">
				#{updateDate},
			</if>
			<if test="updateBy != null ">
				#{updateBy},
			</if>
		</trim>
	</insert>

	<update id="update">
		update sys_dbsource
		<set>
			<if test="keyName != null">
				key_name = #{keyName},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="userName != null">
				user_name = #{userName},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="permission != null ">
				permission = #{permission},
			</if>
			<if test="usable != null ">
				usable = #{usable},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy}
			</if>
		</set>
		where id = #{id}
	</update>


	<select id="count" resultType="int">
		select count(1) from sys_dbsource sysDbsource
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
	</select>

	<delete id="delete">
		delete from sys_dbsource
		WHERE id = #{id}
	</delete>

</mapper>