<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="org.jeecf.manager.module.config.dao.SysNamespaceDao">

	<sql id="columnList">
		sysNamespace.id AS "id",
		sysNamespace.name AS "name",
		sysNamespace.description AS "description",
		sysNamespace.permission AS
		"permission",
		sysNamespace.remark AS "remark",
		sysNamespace.create_date AS "createDate",
		sysNamespace.create_by AS
		"createBy",
		sysNamespace.update_date AS "updateDate",
		sysNamespace.update_by AS "updateBy"
	</sql>

	<sql id="commonWhere">
		<where>
			<if test="data != null">
				<if test="data.name != null and data.name != '' ">
					And sysNamespace.name = #{data.name}
				</if>
				<if test="data.description != null and data.description != '' ">
					And sysNamespace.description = #{data.description}
				</if>
				<if test="data.permission != null and data.permission != '' ">
					And sysNamespace.permission = #{data.permission}
				</if>
				<include refid="reginWhere" />
			</if>
			<include refid="containWhere" />
		</where>
	</sql>

	<!-- 通用范围区间查询 -->
	<sql id="reginWhere">
		<if test="data.beginCreateDate != null">
			And sysNamespace.create_date &gt;= #{data.beginCreateDate}
		</if>
		<if test="data.endCreateDate != null">
			And sysNamespace.create_date &lt;= #{data.endCreateDate}
		</if>
		<if test="data.beginUpdateDate != null">
			And sysNamespace.update_date &gt;= #{data.beginUpdateDate}
		</if>
		<if test="data.endUpdateDate != null">
			And sysNamespace.update_date &lt;= #{data.endUpdateDate}
		</if>
	</sql>

	<!-- in 和 not in的通用查询where -->
	<sql id="containWhere">
		<if test="contains != null and contains.size > 0">
			<foreach item="item" index="i" collection="contains">
				And ${item.columnName} in
				<foreach item="value" index="i"
					collection="item.columnValue" separator="," open="(" close=")">
					#{value}
				</foreach>
			</foreach>
		</if>
	</sql>

	<!-- 通用排序处理 -->
	<sql id="commonSorts">
		<if test="sorts != null and sorts.size > 0">
			ORDER BY
			<foreach collection="sorts" item="item" separator=",">
				${item.columnName} ${item.sortMode}
			</foreach>
		</if>
		<if test="sorts == null">
			ORDER BY sysNamespace.update_date desc
		</if>
	</sql>

	<!-- 关联查询 -->
	<sql id="leftJoinColumn">
	</sql>



	<select id="query"
		resultType="org.jeecf.manager.module.config.model.result.SysNamespaceResult">
		select
		<include refid="columnList" />
		from
		sys_namespace sysNamespace
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
		<include refid="commonSorts" />
		<if test="page != null">
			limit ${page.startNo},${page.size}
		</if>
	</select>

	<select id="get"
		resultType="org.jeecf.manager.module.config.model.result.SysNamespaceResult">
		select
		<include refid="columnList" />
		from
		sys_namespace sysNamespace
		<include refid="leftJoinColumn" />
		where sysNamespace.id = #{id}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">

		insert into sys_namespace
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="permission != null">
				permission,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name},
			</if>
			<if test="description != null">
				#{description},
			</if>
			<if test="permission != null">
				#{permission},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="updateDate != null">
				#{updateDate},
			</if>
			<if test="updateBy != null">
				#{updateBy},
			</if>
		</trim>
	</insert>

	<update id="update">
		update sys_namespace
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="permission != null">
				permission = #{permission},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy},
			</if>
		</set>
		where id = #{id}
	</update>


	<select id="count" resultType="int">
		select count(1) from sys_namespace sysNamespace
		<include refid="leftJoinColumn" />
		<include refid="commonWhere" />
	</select>

	<delete id="delete">
		delete from sys_namespace
		WHERE id = #{id}
	</delete>

</mapper>