.background-white{
	background-color: white ! important;
}

.background-orange-red{
	background-color: rgba(238,40,0,0.8) ! important;
}

.background-black{
	background-color: #000000 ! important;
}
.min-width-px-50 {
	min-width:50px ! important;
}
.min-width-px-75 {
	min-width:75px ! important;
}
.min-width-px-100 {
	min-width:100px ! important;
}

.width-px-50 {
	width:50px ! important;
}
.width-px-75 {
	width:75px ! important;
}
.width-px-100 {
	width:100px ! important;
}

.width-50 {
	width:50% ! important;
}
.width-75 {
	width:75% ! important;
}
.width-100 {
	width:100% ! important;
}
.width-150 {
	width:150% ! important;
}
.width-200 {
	width:200% ! important;
}
/* select {
	min-width:100px ! important;
} */