<div ng-init="sysOsgiPluginAllAs.init()"></div>
<ul id="top-tab" class="nav nav-tabs">
	<li class="active"><a href="#sysOsgiPluginAllListTab"
		data-toggle="tab">全量OSGI插件配置列表</a></li>
	<li shiro:hasPermission="extend:sysOsgiPluginAll:edit"><a
		href="#sysOsgiPluginAllFormTab" data-toggle="tab">全量OSGI插件配置添加</a></li>
</ul>
<br />
<div class="tab-content">
	<div class="tab-pane fade in active" id="sysOsgiPluginAllListTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">全量OSGI插件配置</li>
			<li class="active">列表</li>
		</ol>
		<form class="form-inline" ng-submit="searchForm()">
			<div class="form-group">
				<label>名称:</label> <input type="text" class="form-control"
					id="searchName" ng-model="request.data.name" />
			</div>&nbsp;
			<div class="form-group">
				<label>状态:</label> <select class="form-control"
					ng-model="request.data.delFlag" style="height: 35px;"
					ng-options="delFlag.value as delFlag.name for delFlag in delFlags"></select>
			</div>&nbsp;
			<div class="form-group">
				<button type="submit" class="btn btn-default">提交</button>
			</div>
		</form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>序号</th>
					<th>名称</th>
					<th>文件名</th>
					<th>插件类型</th>
					<th>描述</th>
					<th>创建人</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="sysOsgiPluginAll in sysOsgiPluginAllList ">
					<td>{{ $index+1 }}</td>
					<td>{{ sysOsgiPluginAll.name }}</td>
					<td>{{ sysOsgiPluginAll.fileName }}</td>
					<td>{{ sysOsgiPluginAll.boundleTypeName }}</td>
					<td>{{ sysOsgiPluginAll.description }}</td>
					<td>{{ sysOsgiPluginAll.createByName }}</td>
					<td>{{ sysOsgiPluginAll.updateDate | date:'yyyy-MM-dd
						hh:mm:ss' }}</td>
					<td><span shiro:hasPermission="extend:sysOsgiPlugin:edit"><a
							href="javascript:void(0)" ng-click="gainModal($index)">获取</a></span> <span
						shiro:hasPermission="extend:sysOsgiPluginAll:edit"><a
							href="javascript:void(0)" ng-click="updateModal($index)">修改</a></span> <span
						shiro:hasPermission="extend:sysOsgiPluginAll:edit"><a
							href="javascript:void(0)" ng-click="actionForm($index)">{{
								delFlag.action }}</a></span> <span
						shiro:hasPermission="extend:sysOsgiPluginAll:edit"><a
							href="javascript:void(0)" data-content="{{ $index }}"
							class="target-click" data-confirm="data-confirm">删除</a></span> <span><a
							href="javascript:void(0)" ng-click="downloadModal($index)">插件下载</a></span></td>
				</tr>
			</tbody>
		</table>
		<page-pagination page-id="pageId" page-size="pageSize"
			page-count="pageCount" page-list="pageList"
			search-form="searchForm(message)" page-record="pageRecord"
			page-url-template="urlTemplate"></page-pagination>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">全量OSGI插件配置修改</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" ng-submit="updateForm()"
							id="updateSysOsgiPluginAllForm" name="updateSysOsgiPluginAllForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<input type="text" class="form-control" id="updateName"
											name="name" ng-model="updateSysOsgiPluginAll.name"
											placeholder="请输入名称" required="required" />
									</div>
									<div class="col-sm-6">
										<span style="color: red"
											ng-show="updateSysOsgiPluginAllForm.name.$dirty &amp;&amp; updateSysOsgiPluginAllForm.name.$invalid">
											<span
											ng-show="updateSysOsgiPluginAllForm.name.$error.required">名称是必须的。</span>
										</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">插件类型：</label>
								<div class="col-sm-8">
									<div class="col-sm-6" style="padding-left: 0">
										<select class="form-control"
											ng-model="updateSysOsgiPluginAll.boundleType" id="boundleType"
											style="height: 25px;" name="boundleType"
											ng-options="osgiBoundleTypeEnum.code as osgiBoundleTypeEnum.name for osgiBoundleTypeEnum in osgiBoundleTypeEnums"></select>
									</div>
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-3 control-label">描述：</label>
								<div class="col-sm-8">
									<div class="col-sm-10" style="padding-left: 0">
										<input type="text" class="form-control" id="updateDescription"
											name="description"
											ng-model="updateSysOsgiPluginAll.description"
											placeholder="请输入描述" />
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary"
							form="updateSysOsgiPluginAllForm">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>

	</div>
	<div class="tab-pane fade" id="sysOsgiPluginAllFormTab">
		<ol class="breadcrumb" style="background-color: #efefef">
			<li class="active">全量OSGI插件配置</li>
			<li class="active">添加</li>
		</ol>
		<div class="form-model">
			<form class="form-horizontal" ng-submit="submitForm()"
				name="sysOsgiPluginAllForm">
				<div class="form-group">
					<label class="col-sm-2 control-label">名称：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<input type="text" class="form-control" id="name" name="name"
								ng-model="sysOsgiPluginAll.name" placeholder="请输入名称"
								required="required" />
						</div>
						<div class="col-sm-6">
							<span style="color: red"
								ng-show="sysOsgiPluginAllForm.name.$dirty &amp;&amp; sysOsgiPluginAllForm.name.$invalid">
								<span ng-show="sysOsgiPluginAllForm.name.$error.required">名称是必须的。</span>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">插件类型：</label>
					<div class="col-sm-4">
						<div class="col-sm-6" style="padding-left: 0">
							<select class="form-control"
								ng-model="sysOsgiPluginAll.boundleType" id="boundleType"
								ng-init="sysOsgiPluginAll.boundleType=1" style="height: 25px;"
								name="pluginType"
								ng-options="osgiBoundleTypeEnum.code as osgiBoundleTypeEnum.name for osgiBoundleTypeEnum in osgiBoundleTypeEnums"></select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">描述：</label>
					<div class="col-sm-4">
						<div class="col-sm-10" style="padding-left: 0">
							<input type="text" class="form-control" id="description"
								name="description" ng-model="sysOsgiPluginAll.description"
								placeholder="请输入描述" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">提交</button>
					</div>
				</div>
			</form>

			<!-- 模态框（Modal） -->
			<div class="modal fade" id="addFileModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title">插件包上传</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" ng-submit="addConfirmForm()"
								id="addSysOsgiPluginAllConfirmForm"
								name="addSysOsgiPluginAllConfirmForm">
								<input id="addFile" type="file" style="display: none" />
								<div class="input-append">
									<input id="addFileCover" class="input-large" type="text"
										style="height: 30px;" readonly="readonly" step="margin:0"
										file-model="addFileCover" /> <a class="btn btn-info"
										onclick="$('input[id=addFile]').click();"
										style="margin: 0; border: 0; border-radius: 0; height: 30px; float: left">文件上传</a>
								</div>

							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary"
								form="addSysOsgiPluginAllConfirmForm">确认</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('input[id=addFile]').change(function() {
		$('#addFileCover').val($(this).val());
	});
</script>